<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css" type="text/css">
    <title>{{ title }}</title>
</head>
<body>
{% block nav %}
{% end %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            {% if not current_user %}
            <h1>Please sign in</h1>
            {% end %}
        </div>
    </div>
</div>
<div class="container">{% block content %}{% end %}</div>
{% block script %}{% end %}
</body>
</html>