<div class="panel panel-default" id="m{{ message["id"] }}">
    <div class="row">
        <div class="col-md-2 text-right">
            {% if current_user and current_user.decode() == message["user"] %}
                <span class="text-warning">{{ message["user"] }}:</span>
            {% else %}
                <span class="text-info">{{ message["user"] }}:</span>
            {% end %}
        </div>
        <div class="col-md-8">
            {% module linkify(message["body"]) %}
        </div>
        <div class="col-md-2 text-muted small">
            <span>{{ message["time"] }}</span>
        </div>
    </div>
</div>
